

<section class="info_section  layout_padding2-top">
    <div class="social_container">
        <div class="social_box">
            <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="info_container ">
        <div class="container">
            <div class="row d-flex justify-content-around">
                <div class="col-md-6 col-lg-3">
                    <h6>
                        Hakkımızda
                    </h6>
                    <p>
                        Kütüphane Uygulamamız, okuma tutkusunu paylaşan insanlar için özel olarak tasarlanmış bir platformdur. Amacımız, kitapların büyülü dünyasına giren herkesi desteklemek ve ilham vermek. Kütüphane koleksiyonumuz, farklı türlerde binlerce kitap içerir ve her yaş ve ilgi alanına hitap eder.
                    </p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6>
                        İletişim
                    </h6>
                    <div class="info_link-box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Champ de Mars, 5 Av. Anatole France, 75007 Paris, Fransa
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>05555555555</span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>yeg@hotmail.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section -->
    <footer class=" footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> Tüm Haklar Saklıdır.
            </p>
        </div>
    </footer>
</section>